body{
    background-color: rgb(104, 102, 102);
    color: rgb(228, 226, 226);
}
.header_h1{
    text-align: center;
}
.header_2{
    color: rgb(223, 215, 215);
    border-radius: 50px 0 0;
    background-color: olive;
}
.container{
    background-color: gray;
}
.accordion-button{
    background-color: rgb(88, 85, 85);
    color: rgb(229, 226, 226);
}
.accordion-button:not(.collapsed) {
    color: #0ce454;
    background-color: #535558;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-body {
    padding: 1rem 1.25rem;
    background-color: black;
}

.card{
    width: 18rem;
    background-color: #291919;
}
.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    background-color: #442b2b;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #ffffff;
    background-color: #442b2b;
    border-color: #080505 #080505 #442b2b;
}
